[Desktop Entry]
Categories=Development;
Comment=Spin up dev environments in any infra
Exec=dev-pod-desktop
Icon=dev-pod-desktop
Name=DevPod
Terminal=false
Type=Application
