[submodule "extern/cycles"]
	path = extern/cycles
	url = https://github.com/blender/cycles.git
[submodule "extern/benchmark"]
	path = extern/benchmark
	url = https://github.com/google/benchmark.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg.git
